.container{
  background: var(--green-bg);
  padding: 10px 40px 25px 40px;
  border-radius: var(--radius);
}


.title{
  font-family: var(--title-font), serif;
  color: var(--title-color);
  font-weight: 800;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--title-padding);

}

.card-body{
  background-color: #574A3B;
  padding: 15px;
}

.card-title{
  font-family: var(--title-font), serif;
  color: var(--title-color);
  font-weight: 800;
}

.card-info{
  font-family: var(--title-font), serif;
  color: var(--title-color);
  font-weight: 300;
}

.btn{
  background: none;
  border: none;
  padding: 0;
  transition: transform 0.2s ease;
}

.btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.filtre-txt{
  margin: 7px;
}
