/* Conteneur principal qui occupe toute la largeur du footer */
:host {
  display: block;
  width: 100%;
  height: 100%;
}

.player-container {

  width: 100%;
  height: 100%;
  padding: 10px 20px;
  background-color: #000000;
  color: #ffffff;
  border-radius: var(--radius);
}

.player-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.control-buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn-icon {
  background: none;
  border: none;
  color: #b3b3b3;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.1s, color 0.2s;
}

.btn-icon:hover {
  color: #ffffff;
  transform: scale(1.05);
}

.btn-play {
  font-size: 2rem;
  color: #ffffff;
}

.progress-container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.75rem;
  color: #b3b3b3;
  width: 400px;
}

input[type="range"] {
  flex-grow: 1;
  height: 4px;
  cursor: pointer;
  accent-color: white;
}

.volume-controls {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 400px;
  gap: 10px;
}

.volume-slider {
  width: 100px;
  height: 4px;
}
