/node_modules/
../.idea
/projet_mempafront
bd.sql
/package.json
/package-lock.json
# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
projet_mempeFront/.vscode/*
!projet_mempeFront/.vscode/settings.json
!projet_mempeFront/.vscode/tasks.json
!projet_mempeFront/.vscode/launch.json
!projet_mempeFront/.vscode/extensions.json
!projet_mempeFront/.vscode/mcp.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db
