<div class="container d-flex flex-column " >
  <div class="d-flex flex-column justify-content-between">

    <div *ngIf="playlist" >
      <div class="d-flex flex-row justify-content-between">
        <h2 class="title">{{ playlist.name }}</h2>
        <div class="d-flex flex-row justify-content-around w-25 ">
          <button class="btn btn-sm" (click)="openDeleteModal()">
            <img src="images/trash_icon.png" alt="Supprimer" width="32" height="32">
          </button>
          <button class="btn btn-sm" [routerLink]="['/playlist', playlist.id, 'add']">
              <img src="images/plus_icon.png" alt="Supprimer" width="32" height="32">
          </button>
        </div>
      </div>

      <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-column justify-content-between">
          <div class="d-flex flex-column align-items-center">
            <p>Créée par : <span class="fw-bold">{{ playlist.creator }}</span></p>
            <p>Style de la Playlist: <span class="fw-bold">{{ playlist.style }}</span></p>
            <p>Nombre de cliques : <span class="fw-bold">{{ playlist.clicks }}</span></p>
          </div>


          <div class="d-flex flex-row" >
            <div class="container-contributeur w-100 mx-3" >
              <h3 class="title">Contributeurs</h3>
              <div *ngFor="let contributor of playlist.contributors" class="mb-3">
                <div class="card-body-contributors">
                  <div class="card-title">
                    {{ contributor.name }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="container-musique w-75 mx-3">
          <h3 class="title">Musiques</h3>
          <div *ngFor="let music of playlist.musics"
           (click)="playMusic(music)"
           class="card-body-musics my-2"
           style="cursor: pointer;">
            <div class="card-title">
              <div class="fw-bold">{{ music.title }}</div>
              <div>{{ music.artist }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="showDeleteModal" class="modal-backdrop">
  <div class="modal-content">
    <h3 class="title">Attention !</h3>
    <p>Vous êtes sur le point de supprimer la playlist de <strong>{{ playlist.creator }}</strong>. Êtes-vous sûr ?</p>
    <div class="d-flex justify-content-end gap-2">
      <button class="btn-close" (click)="closeDeleteModal()">Annuler</button>
      <!-- <button class="btn btn-danger" (click)="confirmDelete()">Supprimer</button> -->
    </div>
  </div>
</div>

